<?xml version="1.0"?>
<config>
    <modules>
        <Lesti_Blog>
            <version>0.1.0</version>
        </Lesti_Blog>
    </modules>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Lesti_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <blog>
                <class>Lesti_Blog_Block</class>
            </blog>
        </blocks>
        <helpers>
            <blog>
                <class>Lesti_Blog_Helper</class>
            </blog>
        </helpers>
        <models>
            <blog>
                <class>Lesti_Blog_Model</class>
                <resourceModel>blog_resource</resourceModel>
            </blog>
            <blog_resource>
                <class>Lesti_Blog_Model_Resource</class>
                <entities>
                    <post>
                        <table>blog_post</table>
                    </post>
                    <post_store>
                        <table>blog_post_store</table>
                    </post_store>
                    <category>
                        <table>blog_category</table>
                    </category>
                    <category_store>
                        <table>blog_category_store</table>
                    </category_store>
                    <category_post>
                        <table>blog_category_post</table>
                    </category_post>
                    <tag>
                        <table>blog_tag</table>
                    </tag>
                    <tag_store>
                        <table>blog_tag_store</table>
                    </tag_store>
                    <tag_post>
                        <table>blog_tag_post</table>
                    </tag_post>
                    <post_comment>
                        <table>blog_post_comment</table>
                    </post_comment>
                </entities>
            </blog_resource>
        </models>
        <resources>
            <blog_setup>
                <setup>
                    <module>Lesti_Blog</module>
                </setup>
            </blog_setup>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <blog>
                        <class>Lesti_Blog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </blog>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <blog before="Mage_Adminhtml">Lesti_Blog_Adminhtml</blog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <blog>
            <general>
                <router>blog</router>
                <title>Blog</title>
                <last_posts_count>5</last_posts_count>
            </general>
        </blog>
    </default>
</config>